extends ../layout

block content
	// Voters Bought Boycotted Products
	.hero-wrapper(style='background: url(/videos/home.jpg)  no-repeat;')
		.videoBG_wrapper
			.container
				.row
					article.articleText
						h1
							span.nowrap Voters Bought Boycotted Products
		.videoBG
			video(poster='/images/store.jpg').blur
	.ALtable
		table.smallBarTable
			tbody
				tr
					td(colspan='2', align='left', valign='top', width='225', style='font-weight: bold; padding-top: 3px; padding-left: 13px;') 2011
					td(colspan='2', width='217', align='left', valign='top', style='font-weight: bold; padding-top: 3px; padding-left: 13px;') 
						span.red Bought or Boycotted a Product
						span.right
							a(href="http://104.130.206.32/discussion/forum/general/", target="_blank")  
								img(src='/uploads/2014/01/discuss.png').discussIcon
				tr
					td(width='40', align='left', valign='top').tableState
						img(src='/images/states/Orange_Florida_icon.png', alt='', title='').tableStateIcon
						img(src='/images/state_icons/Flag-of-United-States.png', alt='', title='').tableStateIcon
					td(width='auto', align='left', valign='top').tableNames
						| Florida
						br
						| National Average
						br
					td(width='155', align='left', valign='top').barGraphs
					td(width='35', align='left', valign='top').tableNames
						span.red 11.0%
						br
						span.red 12.1%
						br
	script(src='../javascripts/d3.v3.js')
	script(src='../javascripts/civicEngagment.js')