extends ../layout

block content
	// Reports
	#reports
		h1 Reports, papers, & Presentations
		br
		h1.red Beyond the Vote
		a(href="/pdf/health_civics_08.pdf", target="_blank").center.shadow
			img(src='images/health_civics_08-1.jpg', height='300', width='auto')
		br
		p.textRight Florida's Civic Health Index | 
			a(href="/pdf/health_civics_08.pdf", target="_blank", download) Download
		br
		hr
		h1.red Communities and the State's Civic Destiny
		a(href="/pdf/health_civics_09.pdf", target="_blank").center.shadow
			img(src='images/health_civics_09-1.jpg', height='300', width='auto')
		p.textRight Florida's Civic Health Index | 
			a(href="/pdf/health_civics_09.pdf", target="_blank", download) Download
		br
		hr
		h1.red A Tale of Two Cities
		a(href="/pdf/health_civics_10.pdf", target="_blank").center.shadow
			img(src='images/health_civics_10-1.jpg', height='300', width='auto')
		p.textRight Florida's Civic Health Index | 
			a(href="/pdf/health_civics_10.pdf", target="_blank", download) Download
		br
		hr
		h1.red The Next Generation
		a(href="/pdf/health_civics_11.pdf", target="_blank").center.shadow
			img(src='images/health_civics_11-1.jpg', height='300', width='auto')
		p.textRight Florida's Civic Health Index | 
			a(href="/pdf/health_civics_11.pdf", target="_blank", download) Download
		br