extends layout

block content
	div.pageContainer
		div.pagebanner
			h1.pageTitle Page Not Found
		div.pageContent
			div.container
				h1 404 Error
				h3 #{url} Not Found
				p It’s looking like you may have taken a wrong turn. 
				p Don’t worry... it happens to the best of us. 
