footer.greybg
	.container
		div#foot
			div.tribox
				h4.footer Additional Links
					ul
						li: a(href='/Reports')
							| Archive Reports
						li: a(href='/privacy-policy')
							| Privacy Policy
						li: a(href='http://104.130.206.32/discussion/forum/general/', target="_blank")
							| Post a Comment
			div.tribox
				h4.footer Contact Us
				div(itemprop='address', itemscope='', itemtype='http://schema.org/PostalAddress')#address
					ul
						li Lou Frey Institute
						li: span(itemprop='streetAddress')#address
						li 12443 Research Parkway
						li OTC3 Suite 406
						li: span(itemprop='addressLocality') Orlando 
							span(itemprop='addressRegion') FL
							| ,
							span(itemprop='postalCode') 32826
						li: span(itemprop='telephone') (407) 823-4018
					br
					a(href='mailto:Contact@LouFreyInstitute.org?subject=LFI Comment Email', itemprop='email')
						img(src='/uploads/2013/08/email-icon-small.png', width='30', height='30', alt='email address').socialIcon
					a(href='https://plus.google.com/102468048088389046464?prsrc=3', rel='publisher')
						img(src='/uploads/2013/08/GooglePlusBlue-small.png', width='30', height='30', alt='Google+').socialIcon
					a(href='https://www.facebook.com/LouFreyInstitute', style='text-decoration: none;')
						img(src='/uploads/2013/08/f_logo-small.png', width='30', height='30', alt='Facebook').socialIcon
					a(href='https://twitter.com/LouFreyInst')
						img(src='/uploads/2013/08/twitter-bird-white-on-blue-small.png', width='30', height='30', alt='Twitter').socialIcon
					a(href='https://youtube.com/LouFreyInstitute')
						img(src='/uploads/2013/08/youtube-small.png', width='30', height='30', alt='YouTube').socialIcon
			div.tribox
				h4.footer 
					a(title='UCF', href='http://ucf.edu') University of Central Florida
				ul
					li
						a(title='cos', href='http://www.cos.ucf.edu') College of Sciences
					li
						a(title='polisi', href='http://politicalscience.cos.ucf.edu') Department of Political Science
	.grey
		#greyInner
			h2.textCenter Partners in Civic Health
			br
			a(href='http://LouFreyInstitute.org', target="_blank", alt='Lou Frey Institute')
				img(src='../images/Partners/lfiLogo.jpg', height='100', width='auto').desaturate
			a(href='http://floridacitizen.org', target="_blank", alt='Florida Joint Center')
				img(src='../images/Partners/fjcc.jpg', height='100', width='auto').desaturate
			a(href='http://LouFreyInstitute.org', target="_blank", alt='Lou Frey Institute')
				img(src='../images/Partners/bobgc_logo.png', height='100', width='auto').desaturate
			a(href='http://www.ncoc.net/', target="_blank", alt='National Conference on Citizenship')
				img(src='../images/Partners/ncocLogo.jpg', height='100', width='auto').desaturate

