extends layout

block content
	.segment
		.floridaTitle
			h1 Florida
			img(src='images/Seal_of_Florida.svg')#circle
		.2
			h2.textCenter Civic engagement in Florida and the Nation
			p.red.textCenter Ranking includes the 50 states and the District of Columbia <br/>for the 2012 year
	.segment
		.leftST
			a(href="/Trends/VoterTurnout")
				img(src='images/voted_final.jpg')
		.commentText
			p Voter Turnout in 2012 (Voting Eligible Population): 
				span.red 60.8% 
			P Nation: 
				span.red 61.8%
			P Florida ranking: 
				span.red 36th
			a(href='http://104.130.206.32/discussion/forum/general/', target="_blank") Discuss More 
				img(src='/uploads/2014/01/discuss.png').discussIcon

	.segment
		.leftST
			a(href="/Trends/VoterRegistration")
				img(src='images/voter_registration_final.jpg')
		.commentText
			p Voter Registration in 2012: 
				span.red 68.3% 
			P Nation: 
				span.red 71.2%
			P Florida ranking: 
				span.red 40th
			a(href='http://104.130.206.32/discussion/forum/general/', target="_blank") Discuss More 
				img(src='/uploads/2014/01/discuss.png').discussIcon
	.segment
		.leftST
			img(src='images/contacted_official_final.jpg')
		.commentText
			p Contacted or Visited a Public Official: 
				span.red 10.3% 
			P Nation: 
				span.red 12.3%
			P Florida ranking: 
				span.red 45th
			a(href='http://104.130.206.32/discussion/forum/general/', target="_blank") Discuss More 
				img(src='/uploads/2014/01/discuss.png').discussIcon
	.segment
		.leftST
			a(href="/Trends/Group")
				img(src='images/group_membership_final.jpg')
		.commentText
			p Belonged to a Community Group: 
				span.red 33.6%
			P Nation: 
				span.red 39.2%
			P Florida ranking: 
				span.red 47th
			a(href='http://104.130.206.32/discussion/forum/general/', target="_blank") Discuss More 
				img(src='/uploads/2014/01/discuss.png').discussIcon
	.segment
		.leftST
			a(href="/Trends/Volunteering")
				img(src='images/volunteer_final.jpg')
		.commentText
			p Volunteered: 
				span.red 21.1%
			P Nation: 
				span.red 26.5%
			P Florida ranking: 
				span.red 46th
			a(href='http://104.130.206.32/discussion/forum/general/', target="_blank") Discuss More 
				img(src='/uploads/2014/01/discuss.png').discussIcon
	.segment
		.leftST
			a(href="/Trends/AttendMeetings")
				img(src='images/public_meeting_final.jpg')
		.commentText
			p Attended Public Meeting: 
				span.red 7.1%
			P Nation: 
				span.red 9.0%
			P Florida ranking: 
				span.red 47th
			a(href='http://104.130.206.32/discussion/forum/general/', target="_blank") Discuss More 
				img(src='/uploads/2014/01/discuss.png').discussIcon
	.segment
		.leftST
			a(href="/Trends/Donated")
				img(src='images/donated_final.jpg')
		.commentText
			p Donated Money to a Charity: 
				span.red 45.7%
			P Nation: 
				span.red 51.8%
			P Florida ranking: 
				span.red 48th
			a(href='http://104.130.206.32/discussion/forum/general/', target="_blank") Discuss More 
				img(src='/uploads/2014/01/discuss.png').discussIcon
	.segment
		.leftST
			a(href="/Trends/Neighborhood")
				img(src='images/community_final.jpg')
		.commentText
			p Worked with Neighbors to Fix a Community Problem: 
				span.red 6.4%
			P Nation: 
				span.red 8.4%
			P Florida ranking: 
				span.red 50th
			a(href='http://104.130.206.32/discussion/forum/general/', target="_blank") Discuss More 
				img(src='/uploads/2014/01/discuss.png').discussIcon