div.states
	br
	br
	h3 Jacksonville
	br
	p
		img(src='images/Jacksonville.png')#circle

	.ALtable
		table.smallBarTable
			tbody
				tr
					td(colspan='2', align='left', valign='top', width='225').tableTopL
					td(colspan='2', width='217', align='left', valign='top').tableTopR
						span.red#turnout Voter turnout (2012)
				tr
					td(width='0', align='left', valign='top').tableState
					td(width='auto', align='right', valign='top').tableNamesFL
						// City Names
						| Jacksonville
						br
						| Florida
						br
						| National Average
						br
					td(width='155', align='left', valign='top').tableBar#barTurnout
					//td(width='35', align='left', valign='top').tableNames
						// STATE 1st Value
						span.red 62.9%
						br
						span.red 60.8%
						br
						| 61.8%
						br

	// #2 Registration 2012 Presidential Election
	.ALtable
		table.smallBarTable
			tbody
				tr
					td(colspan='2', align='left', valign='top', width='225').tableTopL
					td(colspan='2', width='217', align='left', valign='top').tableTopR
						span.red#registration Voter Registration (2012)
				tr
					td(width='0', align='left', valign='top').tableState			
					td(width='auto', align='right', valign='top').tableNamesFL					
						| Jacksonville
						br
						| Florida
						br
						| National Average
						br
					td(width='155', align='left', valign='top').tableBar#barRegistration
					//td(width='35', align='left', valign='top').tableNames
						// STATE 2nd
						span.red 67.4%
						br
						span.red 68.3%
						br
						| 71.2%
						br

	// #3 Contacted visited public official	
	.ALtable
		table.smallBarTable
			tbody
				tr
					td(colspan='2', align='left', valign='top', width='225').tableTopL
					td(colspan='2', width='217', align='left', valign='top').tableTopR
						span.red Contacted or visited a public official (2011)
				tr
					td(width='0', align='left', valign='top').tableState			
					td(width='auto', align='right', valign='top').tableNamesFL				
						| Jacksonville
						br
						| Florida
						br
						| National Average
						br
					td(width='155', align='left', valign='top').tableBar#barContact
					//td(width='35', align='left', valign='top').tableNames
						// STATE 3rd
						span.red 11.8%
						br
						| 12.3%
						br
						| 12.3%
						br

	// #4 Bought or boycotted prodcut
	.ALtable
		table.smallBarTable
			tbody
				tr
					td(colspan='2', align='left', valign='top', width='225').tableTopL
					td(colspan='2', width='217', align='left', valign='top').tableTopR 
						span.red#boycott Bought or Boycotted Products (2011)
				tr
					td(width='0', align='left', valign='top').tableState			
					td(width='auto', align='right', valign='top').tableNamesFL				
						| Jacksonville
						br
						| Florida
						br
						| National Average
						br
					td(width='155', align='left', valign='top').tableBar#barBoycot
					//td(width='35', align='left', valign='top').tableNames
						// STATE 4th
						span.red 10.1%
						br
						span.red 11.0%
						br
						| 12.1%
						br

	// #5 Group participation
	.ALtable
		table.smallBarTable
			tbody
				tr
					td(colspan='2', align='left', valign='top', width='225').tableTopL
					td(colspan='2', width='217', align='left', valign='top').tableTopR
						span.red Belongs to a Community Group (2011)
				tr
					td(width='0', align='left', valign='top').tableState			
					td(width='auto', align='right', valign='top').tableNamesFL				
						| Jacksonville
						br
						| Florida
						br
						| National Average
						br
					td(width='155', align='left', valign='top').tableBar#barGroup
					//td(width='35', align='left', valign='top').tableNames
						// STATE 5th
						span.red 34.9%
						br
						span.red 33.6%
						br
						| 39.2%
						br

	// #6 Volunteered
	.ALtable
		table.smallBarTable
			tbody
				tr
					td(colspan='2', align='left', valign='top', width='225').tableTopL
					td(colspan='2', width='217', align='left', valign='top').tableTopR
						span.red#volunteer Volunteered (2012)
				tr
					td(width='0', align='left', valign='top').tableState			
					td(width='auto', align='right', valign='top').tableNamesFL				
						| Jacksonville
						br
						| Florida
						br
						| National Average
						br
					td(width='155', align='left', valign='top').tableBar#barVolunteer
					//td(width='35', align='left', valign='top').tableNames
						// STATE 6th
						span.red 30.0%
						br
						span.red 21.1%
						br
						| 26.5%
						br

	// #7 Attended meeting
	.ALtable
		table.smallBarTable
			tbody
				tr
					td(colspan='2', align='left', valign='top', width='225').tableTopL
					td(colspan='2', width='217', align='left', valign='top').tableTopR
						span.red#meeting Attended Public Meeting (2012)
				tr
					td(width='0', align='left', valign='top').tableState			
					td(width='auto', align='right', valign='top').tableNamesFL				
						| Jacksonville
						br
						| Florida
						br
						| National Average
						br
					td(width='155', align='left', valign='top').tableBar#barMeeting
					//td(width='35', align='left', valign='top').tableNames
						// STATE 7th
						span.red 7.8%
						br
						span.red 7.1%
						br
						| 9.0%
						br

	// #8 Worked neighbors fix problem
	.ALtable
		table.smallBarTable
			tbody
				tr
					td(colspan='2', align='left', valign='top', width='225').tableTopL
					td(colspan='2', width='217', align='left', valign='top').tableTopR
						span.red#neighbors Worked with neighbors to fix problem (2012)
				tr
					td(width='0', align='left', valign='top').tableState			
					td(width='auto', align='right', valign='top').tableNamesFL				
						| Jacksonville
						br
						| Florida
						br
						| National Average
						br
					td(width='155', align='left', valign='top').tableBar#barNeighbor
					//td(width='35', align='left', valign='top').tableNames
						// STATE 8th
						span.red 8.3%
						br
						span.red 6.4%
						br
						| 8.4%
						br

	// #9 Donated 
	.ALtable
		table.smallBarTable
			tbody
				tr
					td(colspan='2', align='left', valign='top', width='225').tableTopL
					td(colspan='2', width='217', align='left', valign='top').tableTopR
						span.red Donated Money (2012)
				tr
					td(width='0', align='left', valign='top').tableState			
					td(width='auto', align='right', valign='top').tableNamesFL				
						| Jacksonville
						br
						| Florida
						br
						| National Average
						br
					td(width='155', align='left', valign='top').tableBar#barDonate
					//td(width='35', align='left', valign='top').tableNames
						// STATE 9th
						span.red 43.8%
						br
						span.red 45.7%
						br
						| 51.8%
						br
							
	script(src='../javascripts/d3.v3.js')
	script(type='text/javascript').
		var config = {};
		config.state = 'city/jacksonville';
	script(src='../javascripts/BarGraphs.js')