div.states
	br
	br
	h3 Miami - Fort Lauderdale - Miami Beach
	br
	p
		img(src='images/Miami.svg')#circle
		|  
		img(src='images/Fort_Lauderdale.png')#circle
		|  
		img(src='images/MiamiBeach.png')#circle

	.ALtable
		table.smallBarTable
			tbody
				tr
					td(align='left', valign='top', width='auto').tableTopL
					td(width='217', align='left', valign='top').tableTopR
						span.red#turnout Voter turnout (2012)
				tr
					td(width='auto', align='right', valign='top').tableNamesFL
						// City Names
						| Miami - Fort Lauderdale - Beach 
						br
						| Florida
						br
						| National Average
						br
					td(width='155', align='left', valign='top').tableBar#barTurnout
					
	// #2 Registration 2012 Presidential Election
	.ALtable
		table.smallBarTable
			tbody
				tr
					td(align='left', valign='top', width='auto').tableTopL
					td(width='217', align='left', valign='top').tableTopR
						span.red#registration Voter Registration (2012)
				tr
					td(width='auto', align='right', valign='top').tableNamesFL					
						| Miami - Fort Lauderdale - Beach
						br
						| Florida
						br
						| National Average
						br
					td(width='155', align='left', valign='top').tableBar#barRegistration

	// #3 Contacted visited public official	
	.ALtable
		table.smallBarTable
			tbody
				tr
					td(align='left', valign='top', width='auto').tableTopL
					td(width='217', align='left', valign='top').tableTopR
						span.red Contacted or visited a public official (2011)
				tr			
					td(width='auto', align='right', valign='top').tableNamesFL				
						| Miami - Fort Lauderdale - Beach
						br
						| Florida
						br
						| National Average
						br
					td(width='155', align='left', valign='top').tableBar#barContact

	// #4 Bought or boycotted prodcut
	.ALtable
		table.smallBarTable
			tbody
				tr
					td(align='left', valign='top', width='auto').tableTopL
					td(width='217', align='left', valign='top').tableTopR 
						span.red#boycott Bought or Boycotted Products (2011)
				tr			
					td(width='auto', align='right', valign='top').tableNamesFL				
						| Miami - Fort Lauderdale - Beach
						br
						| Florida
						br
						| National Average
						br
					td(width='155', align='left', valign='top').tableBar#barBoycot

	// #5 Group participation
	.ALtable
		table.smallBarTable
			tbody
				tr
					td(align='left', valign='top', width='auto').tableTopL
					td(width='217', align='left', valign='top').tableTopR
						span.red Belongs to a Community Group (2011)
				tr			
					td(width='auto', align='right', valign='top').tableNamesFL				
						| Miami - Fort Lauderdale - Beach
						br
						| Florida
						br
						| National Average
						br
					td(width='155', align='left', valign='top').tableBar#barGroup

	// #6 Volunteered
	.ALtable
		table.smallBarTable
			tbody
				tr
					td(align='left', valign='top', width='auto').tableTopL
					td(width='217', align='left', valign='top').tableTopR
						span.red#volunteer Volunteered (2012)
				tr			
					td(width='auto', align='right', valign='top').tableNamesFL				
						| Miami - Fort Lauderdale - Beach
						br
						| Florida
						br
						| National Average
						br
					td(width='155', align='left', valign='top').tableBar#barVolunteer

	// #7 Attended meeting
	.ALtable
		table.smallBarTable
			tbody
				tr
					td(align='left', valign='top', width='auto').tableTopL
					td(width='217', align='left', valign='top').tableTopR
						span.red#meeting Attended Public Meeting (2012)
				tr			
					td(width='auto', align='right', valign='top').tableNamesFL				
						| Miami - Fort Lauderdale - Beach
						br
						| Florida
						br
						| National Average
						br
					td(width='155', align='left', valign='top').tableBar#barMeeting

	// #8 Worked neighbors fix problem
	.ALtable
		table.smallBarTable
			tbody
				tr
					td(align='left', valign='top', width='auto').tableTopL
					td(width='217', align='left', valign='top').tableTopR
						span.red#neighbors Worked with neighbors to fix problem (2012)
				tr			
					td(width='auto', align='right', valign='top').tableNamesFL				
						| Miami - Fort Lauderdale - Beach
						br
						| Florida
						br
						| National Average
						br
					td(width='155', align='left', valign='top').tableBar#barNeighbor

	// #9 Donated 
	.ALtable
		table.smallBarTable
			tbody
				tr
					td(align='left', valign='top', width='auto').tableTopL
					td(width='217', align='left', valign='top').tableTopR
						span.red Donated Money (2012)
				tr			
					td(width='auto', align='right', valign='top').tableNamesFL				
						| Miami - Fort Lauderdale - Beach
						br
						| Florida
						br
						| National Average
						br
					td(width='155', align='left', valign='top').tableBar#barDonate
							
	script(src='../javascripts/d3.v3.js')
	script(type='text/javascript').
		var config = {};
		config.state = 'city/miami';
	script(src='../javascripts/BarGraphs.js')