div.states
	h1 Alaska
	p
		img(src='images/state_icons/AK.svg')#circle
		| vs
		img(src='images/Seal_of_Florida.svg')#circle

	// ALASKA	58.4	72.8	20.9	17.7	54.6	36.6	18.6	17.1	64.8
	// #1 Turnout Presidential Election 2012
	.ALtable
		table.smallBarTable
			tbody
				tr
					td(colspan='2', align='left', valign='top', width='225').tableTopL
					td(colspan='2', width='217', align='left', valign='top').tableTopR
						span.red#turnout Voter turnout (2012)
				tr
					td(width='40', align='left', valign='top').tableState
						img(src='/images/state_icons/AK.png', alt='', title='').tableStateIcon
						img(src='/images/state_icons/FL.png', alt='', title='').tableStateIcon
						img(src='/images/state_icons/Flag-of-United-States.png', alt='', title='').tableStateIcon
					td(width='auto', align='left', valign='top').tableNames
						// STATE NAME
						| Alaska  
						br
						| Florida
						br
						| National Average
						br
					td(width='155', align='left', valign='top').tableBar#barTurnout
					//td(width='35', align='left', valign='top').tableNames
						// STATE 1st Value
						span.red 58.4%
						br
						span.red 60.8%
						br
						| 61.8%
						br

	// #2 Registration 2012 Presidential Election 73.5
	.ALtable
		table.smallBarTable
			tbody
				tr
					td(colspan='2', align='left', valign='top', width='225').tableTopL
					td(colspan='2', width='217', align='left', valign='top').tableTopR
						span.red#registration Voter Registration (2012)
				tr
					td(width='40', align='left', valign='top').tableState
						img(src='/images/state_icons/AK.png', alt='', title='').tableStateIcon
						img(src='/images/state_icons/FL.png', alt='', title='').tableStateIcon
						img(src='/images/state_icons/Flag-of-United-States.png', alt='', title='').tableStateIcon
					td(width='auto', align='left', valign='top').tableNames					
						| Alaska
						br
						| Florida
						br
						| National Average
						br
					td(width='155', align='left', valign='top').tableBar#barRegistration
					//td(width='35', align='left', valign='top').tableNames
						// STATE 2nd
						span.red 72.8%
						br
						span.red 68.3%
						br
						| 71.2%
						br

	// #3 Contacted visited public official 10.8	
	.ALtable
		table.smallBarTable
			tbody
				tr
					td(colspan='2', align='left', valign='top', width='225').tableTopL
					td(colspan='2', width='217', align='left', valign='top').tableTopR
						span.red Contacted or visited a public official (2011)
				tr
					td(width='40', align='left', valign='top').tableState
						img(src='/images/state_icons/AK.png', alt='', title='').tableStateIcon
						img(src='/images/state_icons/FL.png', alt='', title='').tableStateIcon
						img(src='/images/state_icons/Flag-of-United-States.png', alt='', title='').tableStateIcon
					td(width='auto', align='left', valign='top').tableNames					
						| Alaska
						br
						| Florida
						br
						| National Average
						br
					td(width='155', align='left', valign='top').tableBar#barContact
					//td(width='35', align='left', valign='top').tableNames
						// STATE 3rd
						span.red 20.9%
						br
						span.red 10.3%
						br
						| 12.3%
						br

	// #4 Bought or boycotted prodcut 7.6
	.ALtable
		table.smallBarTable
			tbody
				tr
					td(colspan='2', align='left', valign='top', width='225').tableTopL
					td(colspan='2', width='217', align='left', valign='top').tableTopR 
						span.red#boycott Bought or Boycotted Products (2011)
				tr
					td(width='40', align='left', valign='top').tableState
						img(src='/images/state_icons/AK.png', alt='', title='').tableStateIcon
						img(src='/images/state_icons/FL.png', alt='', title='').tableStateIcon
						img(src='/images/state_icons/Flag-of-United-States.png', alt='', title='').tableStateIcon
					td(width='auto', align='left', valign='top').tableNames					
						| Alaska
						br
						| Florida
						br
						| National Average
						br
					td(width='155', align='left', valign='top').tableBar#barBoycot
					//td(width='35', align='left', valign='top').tableNames
						// STATE 4th
						span.red 17.7%
						br
						span.red 11.0%
						br
						| 12.1%
						br

	// #5 Group participation 36.8
	.ALtable
		table.smallBarTable
			tbody
				tr
					td(colspan='2', align='left', valign='top', width='225').tableTopL
					td(colspan='2', width='217', align='left', valign='top').tableTopR
						span.red Belongs to a Community Group (2011)
				tr
					td(width='40', align='left', valign='top').tableState
						img(src='/images/state_icons/AK.png', alt='', title='').tableStateIcon
						img(src='/images/state_icons/FL.png', alt='', title='').tableStateIcon
						img(src='/images/state_icons/Flag-of-United-States.png', alt='', title='').tableStateIcon
					td(width='auto', align='left', valign='top').tableNames					
						| Alaska
						br
						| Florida
						br
						| National Average
						br
					td(width='155', align='left', valign='top').tableBar#barGroup
					//td(width='35', align='left', valign='top').tableNames
						// STATE 5th
						span.red 54.6%
						br
						span.red 33.6%
						br
						| 39.2%
						br

	// #6 Volunteered 24.0
	.ALtable
		table.smallBarTable
			tbody
				tr
					td(colspan='2', align='left', valign='top', width='225').tableTopL
					td(colspan='2', width='217', align='left', valign='top').tableTopR
						span.red#volunteer Volunteered (2012)
				tr
					td(width='40', align='left', valign='top').tableState
						img(src='/images/state_icons/AK.png', alt='', title='').tableStateIcon
						img(src='/images/state_icons/FL.png', alt='', title='').tableStateIcon
						img(src='/images/state_icons/Flag-of-United-States.png', alt='', title='').tableStateIcon
					td(width='auto', align='left', valign='top').tableNames					
						| Alaska
						br
						| Florida
						br
						| National Average
						br
					td(width='155', align='left', valign='top').tableBar#barVolunteer
					//td(width='35', align='left', valign='top').tableNames
						// STATE 6th
						span.red 36.6%
						br
						span.red 21.1%
						br
						| 26.5%
						br

	// #7 Attended Meeting 9.1
	.ALtable
		table.smallBarTable
			tbody
				tr
					td(colspan='2', align='left', valign='top', width='225').tableTopL
					td(colspan='2', width='217', align='left', valign='top').tableTopR
						span.red#Meeting Attended Public Meeting (2012)
				tr
					td(width='40', align='left', valign='top').tableState
						img(src='/images/state_icons/AK.png', alt='', title='').tableStateIcon
						img(src='/images/state_icons/FL.png', alt='', title='').tableStateIcon
						img(src='/images/state_icons/Flag-of-United-States.png', alt='', title='').tableStateIcon
					td(width='auto', align='left', valign='top').tableNames					
						| Alaska
						br
						| Florida
						br
						| National Average
						br
					td(width='155', align='left', valign='top').tableBar#barMeeting
					//td(width='35', align='left', valign='top').tableNames
						// STATE 7th
						span.red 18.6%
						br
						span.red 7.1%
						br
						| 9.0%
						br

	// #8 Worked neighbors fix problem 7.3
	.ALtable
		table.smallBarTable
			tbody
				tr
					td(colspan='2', align='left', valign='top', width='225').tableTopL
					td(colspan='2', width='217', align='left', valign='top').tableTopR
						span.red#neighbors Worked with neighbors to fix problem (2012)
				tr
					td(width='40', align='left', valign='top').tableState
						img(src='/images/state_icons/AK.png', alt='', title='').tableStateIcon
						img(src='/images/state_icons/FL.png', alt='', title='').tableStateIcon
						img(src='/images/state_icons/Flag-of-United-States.png', alt='', title='').tableStateIcon
					td(width='auto', align='left', valign='top').tableNames					
						| Alaska
						br
						| Florida
						br
						| National Average
						br
					td(width='155', align='left', valign='top').tableBar#barNeighbor
					//td(width='35', align='left', valign='top').tableNames
						// STATE 8th
						span.red 17.1%
						br
						span.red 6.4%
						br
						| 8.4%
						br

	// #9 Donated 57.3
	.ALtable
		table.smallBarTable
			tbody
				tr
					td(colspan='2', align='left', valign='top', width='225').tableTopL
					td(colspan='2', width='217', align='left', valign='top').tableTopR
						span.red Donated Money (2012)
				tr
					td(width='40', align='left', valign='top').tableState
						img(src='/images/state_icons/AK.png', alt='', title='').tableStateIcon
						img(src='/images/state_icons/FL.png', alt='', title='').tableStateIcon
						img(src='/images/state_icons/Flag-of-United-States.png', alt='', title='').tableStateIcon
					td(width='auto', align='left', valign='top').tableNames					
						| Alaska
						br
						| Florida
						br
						| National Average
						br
					td(width='155', align='left', valign='top').tableBar#barDonate
					//td(width='35', align='left', valign='top').tableNames
						// STATE 9th
						span.red 64.8%
						br
						span.red 45.7%
						br
						| 51.8%
						br
							
	script(src='../javascripts/d3.v3.js')
	script(type='text/javascript').
		var config = {};
		config.state = 'AK';
	script(src='../javascripts/BarGraphs.js')